    /* texto NO TOCAR >:c*/
    body {
        background-color: #8BD9E4;
        align-content: center;
        width: 60%;
        margin: 0 auto;
        
    }

    img{
        width: 200px;
        height: auto;
    }
    h1 {text-align: center;
        color:#435B5B;
    }
    /* texto NO TOCAR,>:c */
    h2{text-align: center;
        color: #02A8BF;
    }
    /* cuadrito del subtitulo */
    .titulo{
        color: white;
        font-size: 36px;
        width: 100%;
        text-align: center;
        border-bottom: 4px #435B5B solid;
    }
    .subtitulo{
        background-color:white;
        border-radius: 5cm;
    }
    .parrafos{
        background-color:#C6DEE1;
        padding: 0px 20px;
        border-radius: 0.5cm;
        text-align: justify;
    }
    .indice{
        background-color:#C6DEE1;
        border:  2px solid #435B5B;
        border-radius: 22px;
        padding: 10px 25px;
        margin: 20px;
        text-align: justify;
    }
    p{
        font-size: 20px;
    }
    /* texto NO TOCAR >:c*/
    .texto{
        color: #5D7D7D;
    }
    ul li {
        color: #5D7D7D;
        list-style-type: square;
    }
    ol li {
        color: #5D7D7D;
    }
    table{
        color: #5D7D7D;
        text-align: center;
        /* centrar tabla */
        margin-left: auto;
        margin-right: auto;
    }
    table td{
        border: 1px #435B5B solid;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
    }
    table th{
        color: #435B5B;
        border: 1px #435B5B solid;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        padding: 10px;
    }

@media screen and (max-width: 658px) {
    
}
