    /* texto NO TOCAR >:c*/
    h1 {text-align: center;
        color:#435B5B;
    }
    /* texto NO TOCAR,>:c */
    h2{text-align: center;
        color: #02A8BF;
    }
    /* cuadrito del subtitulo */
    .titulo{
        color: white;
    }
    .subtitulo{
        background-color:white;
        border-radius: 5cm;
    }
    .parrafos{
        background-color:#C6DEE1;
        padding: 0px 20px;
        border-radius: 0.5cm;
    }
    /* texto NO TOCAR >:c*/
    .texto{
        color: #5D7D7D;
    }
    ul li {
        color: #5D7D7D;
    }
    ol li {
        color: #5D7D7D;
    }
    table{
        color: #5D7D7D;
        text-align: center;
    }
    table th{
        color: #435B5B;
    }
